.App {
  text-align: center;
}

#home-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: lighter;
  /* align-items: center; */
  /* background-color: pink; */
}
